@color: rgb(44, 70, 145);
@color2: rgb(215, 217, 207);
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    

}

header{
    width: 100%;
    height: 100vh;
    background: url("images/navrh4.jpg");
    
    
   
    
    
}


.logo{
    color: @color;
    display: block;
    width: 100px;
    height: 50px;
    background: none;
    margin: 50px;
    border: 1px rgb(44, 70, 145)  solid;
    text-align: center;
    

    
} 
.menu 
{
ul{
    li{
        float: right;
        color: white; 
        margin: 60px;
        list-style-type: none;
        a{
            color: @color;
        }
    }
}



.barva{
    color: @color;
}


}

.popis{
    margin: 0 0 0 150px;
    display: block;
    clear: both;
    width: 88%;
    padding-right: 30%;
    padding-top: 15%;
    

    
    

    
    
    
}



.left{
    float: left;
}

.full-widht{
    width: 100%;
    
}

a{
    color: white;
    text-decoration: none;
}

button{

    font-size: 35px;
    background:rgb(44, 70, 145);
    border: 1px white solid;
    border-radius: 15px;
    padding: 5px;
    margin-top: 100px;
    color: rgb(255, 255, 255);

 

}


h1{
    color: white;
    font-size: 3em;
    
    

    
   
}


.text1{
    padding-top: 15%;

}

  .top{
    width: 100%;
    height: 18vh;
    background: rgb(208, 212, 199);
    
    


  }  

  
  

  
 


 h2{
     color: @color;
 }
 .map{
    margin-top: 50px;

 }



 .icons{
    padding-top: 5%; 
 }

 
 .facebook{
     padding-left: 25%;
     padding-right: 15%;
 }

 .instagram{
     padding-left:25%;
     padding-right: 15%; 
 }


 footer{
     
     background-color: rgb(131, 134, 117);
     height: 23vh;
     width: 100%;
     margin-top: 100px;

     ul{
         li{
             
             padding-left: 45%;
             padding-top: 0.5%;
             color: @color;
             
             
         }
     }

 }


 .logo-footer{
     padding-left: 46%
 }


.form{
    padding-left: 10%;
    color: @color;
    label{
        padding-left: 8%;
       
    } 
    
}

.carousel {

    width:100%; 
    height:auto;
    img{
        height: 50vh;
    }
    
  }


  .popis-product{
      color: @color;
      float: right;
      text-align: center;
      list-style-type: none;
  }

@media (max-width:576px){
    h2{
        color: @color;
        padding-left: 5%;
        padding-top: 3%;
        padding-bottom: 1%
        
    }
    
    
    
        *{
            margin: 0%;
            padding: 0%;
            box-sizing: border-box;
            
        
        }
       
        .menu {
    ul{
        li{
            margin: 10px;
            margin-right: 10px;
            
            a{
                color: @color;
              
    
            }
        }
    }
        
    }
    header{
        background-size: cover; 
    }
    
    h1{
        color: white;
        font-size: 2em;
        padding-right: 20px;
        padding-top: 80px;   
       
    }
    
    button{
    
        font-size: 20px;
        background:rgb(44, 70, 145);
        border: 1px white solid;
        border-radius: 15px;
        padding: 5px;
        margin-top: 20px;
        color: rgb(255, 255, 255);
        padding-right: 10px;
        padding-left: 10px;
    
     
    
    }
    
    
    
    footer{
         
        background-color: rgb(131, 134, 117);
        height: 23vh;
        width: 100%;
        margin-top: 100px;
    
        ul{
            li{
                
                padding-left: 30%;
                padding-top: 0.5%;
                color: @color;
                
                
            }
        }
    
    }
    
    
    .logo-footer{
        padding-left: 33%
    }
    
    .product{
        margin-top: 50px;
        border-top: 1px solid @color;
        height: 70vh;
        margin-bottom: 5Opx;
    
    }
    
    .product-image{
        float: left;
        padding-top: 24px;
        padding-left: 5px;
    }
    
    .product-popis{
       list-style: none;
       text-align: center;
       padding-top: 24px;
    
    }
    .product-list{
      
       color: @color;
       padding-top: 10px;
      
    }
    
    .obsah-list{
      display: block;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
    }
    
    .facebook{
        
        padding-left: 7%;
        padding-right: 15%;
    }
    
    .instagram{
        padding-left:20%;
        padding-right: 15%; 
    }
    
    .icons{
        padding-top: 10%; 
     }
    
    
    
}

